<div class="visa-details">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ng-container *ngIf="userData.employeeRoleName === 'RMG'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" style="margin: 10px;">
                        <div class="col-md-3">
                            <p-dropdown [options]="modelData" name="country" [(ngModel)]="visaModel.country" placeholder="Country"
                                optionLabel="label" [style]="{'width':'150px'}" (onChange)="onCountryChange(visaModel.country)"></p-dropdown>
                        </div>
                        <div class="col-md-3">
                            <p-dropdown [options]="visaData" name="visa" [(ngModel)]="visaModel.visa" placeholder="Visa"
                                optionLabel="label" [style]="{'width':'150px'}" (onChange)="onVisaChange(visaModel.visa)"></p-dropdown>
                        </div>
                        <div class="col-md-3">
                            <p-dropdown [options]="visaTypeData" name="visaType" [(ngModel)]="visaModel.visa_type" placeholder="Visa Type" optionLabel="label" [style]="{'width':'180px'}"></p-dropdown>
                        </div>
                        <div class="col-md-3">
                            <p-dropdown [options]="visaStatusList" name="status" [(ngModel)]="visaModel.status" placeholder="Visa Status" optionLabel="label"
                                [style]="{'width':'150px'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px;">
                        <div class="col-md-4" style="margin-top: 23px;">
                            <p-calendar name="validFrom" (onSelect)="onVisaStartDtSelect()" [(ngModel)]="visaModel.validFrom"
                                dateFormat="dd-mm-yy" [showIcon]="true" placeholder="Valid From"></p-calendar>
                        </div>
                        <div class="col-md-4" style="margin-top: 23px;">
                            <p-calendar *ngIf="active" name="validTo" dateFormat="dd-mm-yy" [disabled]="!visaModel.validFrom" [minDate]="minVisaDate" [(ngModel)]="visaModel.validTo"
                                [showIcon]="true" placeholder="Valid To"></p-calendar>
                        </div>
                        <div class="col-md-4" style="margin-top: 23px;">
                            <button type="button" class="btn btn-success" *ngIf="visaEditMode" (click)="onAddVisa('add')" [disabled]="disableBtn()">Add Visa</button>
                            <button *ngIf="!visaEditMode" type="button" class="btn btn-success" (click)="onAddVisa('update')" [disabled]="disableBtn()">Update Visa</button>
                        </div>
                    </div>
                </div>
            </div>
            </ng-container>
            <div class="contact-rmg" *ngIf="userData.employeeRoleName === 'Employee'">Please contact RMG to update visa details.</div>
            <p-dataTable [value]="visaDetails" scrollable="true" scrollHeight="200px" emptyMessage="No Visa Found">
                <p-column [sortable]="true" *ngFor="let col of visaHeader; let i = index;" [field]="col.field" [header]="col.header"></p-column>
                <ng-container *ngIf="userData.employeeRoleName === 'RMG'">
                <p-column styleClass="col-button" [style]="{'width':'8%'}">
                    <ng-template pTemplate="header">
                        Action
                    </ng-template>
                    <ng-template let-visa="rowData" let-i="rowIndex" pTemplate="body">
                        <a pTooltip="edit" tooltipPosition="top" class="curosr-p" (click)="onEditVisa(visa)"><i class="fa fa-edit"></i></a>
                        <a pTooltip="delete" tooltipPosition="top" class="curosr-p" (click)="onDelete(visa)"><i class="fa fa-trash"></i></a>
                    </ng-template>
                </p-column>
                </ng-container>
            </p-dataTable>
        </div>
    </div>
</div>