<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
            
        <div class="panel">
            <!--<div class="panel-heading edit-head">
                <h3 class="panel-title">BU Details</h3>
            </div>-->
            <div class="panel-body">
                
                    
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                            <span class="help-block pro-title">ACCOUNT MANAGER</span>
                            <p class="form-control-static">{{personalDetails.accountManager}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <span class="help-block pro-title">HR SPOC</span>
                        <p class="form-control-static">{{personalDetails.hrSpoc}}</p>
                    </div>
                </div>
                
            
            
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <span class="help-block pro-title">BU HEAD</span>
                        <p class="form-control-static">{{personalDetails.buHead}}</p>
                
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                    <span class="help-block pro-title">DU HEAD</span>
                    <p class="form-control-static">{{personalDetails.duHead}}</p>
                    </div>
                </div>
                
            
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                    <span class="help-block pro-title">BU</span>
                    <p class="form-control-static">{{personalDetails.bu}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 ">
                    <div class="form-group">
                        <span class="help-block pro-title">DU</span>
                        <p class="form-control-static">{{personalDetails.du}}</p>
                
                    </div>
                </div>
                
            </div>
        </div>
                
    </div>
</div>

