<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row m-t-10">
                    <div [ngClass]="{'col-md-3': projectModel.aStatus === 'available', 'col-md-4': projectModel.aStatus !== 'available'}">
                        <input type="text" class="form-control w-200" [(ngModel)]="projectModel.accountName" placeholder="Account Name" />
                    </div>
                    <div [ngClass]="{'col-md-3': projectModel.aStatus === 'available', 'col-md-4': projectModel.aStatus !== 'available'}">

                        <input type="text" class="form-control w-200" name="projectName" [(ngModel)]="projectModel.projectName" placeholder="Project Name"
                        />
                    </div>
                    <div class="m-t-13" [ngClass]="{'col-md-3': projectModel.aStatus === 'available', 'col-md-4': projectModel.aStatus !== 'available'}">
                        <p-dropdown [options]="allocationStatusList" name="allocStatus" [(ngModel)]="projectModel.aStatus" placeholder="Allocation Status"
                            optionLabel="label" [style]="{'width':'200px'}"></p-dropdown>
                    </div>
                    <ng-container *ngIf="projectModel.aStatus === 'available'">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success">Add Project</button>
                        <button *ngIf="false" type="button" class="btn btn-success">Update Project</button>
                    </div>
                    </ng-container>
                </div>
                <div class="row m-t-10">
                    <ng-container *ngIf="projectModel.aStatus !== 'available' && projectModel.aStatus !== 'onNotice'">
                        <div class="col-md-4 m-t-23">
                            <p-calendar name="allocStartDate" [(ngModel)]="projectModel.aStartDate" [showIcon]="true" placeholder="Allocation Start Date"></p-calendar>
                        </div>
                        <div class="col-md-4 m-t-23">
                            <p-calendar name="allocEndDate" [(ngModel)]="projectModel.aEndDate" [showIcon]="true" placeholder="Allocation End Date"></p-calendar>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="projectModel.aStatus === 'onNotice'">
                        <div class="col-md-4 m-t-23">
                            <p-calendar name="lastWorkingDay" [(ngModel)]="projectModel.lastWDay" [showIcon]="true" placeholder="Last Working Day"></p-calendar>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="projectModel.aStatus !== 'available'">
                    <div class="col-md-4 m-t-23">
                        <button type="button" class="btn btn-success">Add Project</button>
                        <button *ngIf="false" type="button" class="btn btn-success">Update Project</button>
                    </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <p-dataTable [value]="projectDetails" scrollable="true" scrollHeight="200px" emptyMessage="No projects found">
            <p-column [sortable]="true" *ngFor="let col of projectHeader" [field]="col.field" [header]="col.header"></p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Action
                </ng-template>
                <ng-template let-project="rowData" let-i="rowIndex" pTemplate="body">
                    <a class="curosr-p"><i class="fa fa-edit"></i></a>
                    <a class="curosr-p"><i class="fa fa-trash"></i></a>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>