<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin: 10px;">
                    <div class="col-md-3">
                        <p-dropdown name="deliveryUnit" [(ngModel)]="projectModel.du" placeholder="Delivery Unit" optionLabel="label" [style]="{'width':'150px'}"></p-dropdown>
                    </div>
                    <div class="col-md-3">

                        <p-dropdown name="businessUnit" [(ngModel)]="projectModel.bu" placeholder="Business Unit" optionLabel="label" [style]="{'width':'150px'}"></p-dropdown>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" [(ngModel)]="projectModel.accountManager" placeholder="Account Manager" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="projectName" [(ngModel)]="projectModel.projectName" placeholder="Project Name"
                        />
                    </div>
                </div>
                <div class="row" style="margin: 10px;">

                    <div class="col-md-3" style="margin-top: 23px;">
                        <p-calendar name="projectStartDate" [(ngModel)]="projectModel.pStartDate" [showIcon]="true" placeholder="Project Start Date"></p-calendar>
                    </div>
                    <div class="col-md-3" style="margin-top: 23px;">
                        <p-calendar name="allocStartDate" [(ngModel)]="projectModel.aStartDate" [showIcon]="true" placeholder="Allocation Start Date"></p-calendar>
                    </div>
                    <div class="col-md-3" style="margin-top: 23px;">
                        <p-dropdown name="allocStatus" [(ngModel)]="projectModel.aStatus" placeholder="Allocation Status" optionLabel="label" [style]="{'width':'200px'}"></p-dropdown>
                    </div>
                    <div class="col-md-3" style="margin-top: 23px;">
                        <button type="button" class="btn btn-success">Add Project</button>
                        <button *ngIf="false" type="button" class="btn btn-success">Update Project</button>
                    </div>
                </div>
            </div>
        </div>
        <p-dataTable [value]="projectDetails" scrollable="true" scrollHeight="200px" emptyMessage="No projects found">
            <p-column [sortable]="true" *ngFor="let col of projectHeader" [field]="col.field" [header]="col.header"></p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Action
                </ng-template>
                <ng-template let-project="rowData" let-i="rowIndex" pTemplate="body">
                    <a class="curosr-p"><i class="fa fa-edit"></i></a>
                    <a class="curosr-p"><i class="fa fa-trash"></i></a>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>