.login-title{
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 25px;
}
.has-error .alert{
    padding:4px;
}
.error-msg {
    color: #880300;
    background-color: #ec8702;
}
.error-red{
    color: #880300;
}
.navbar-brand{
    padding: 10px 10px;
}
.search-spinner{
    .fa-li{
        position: relative;
        z-index: 3;
        top: 0px;
        left: 0px;
    }
}
.m-b-5{
    margin-bottom: 5px;
}