.login-title{
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 25px;
}
.has-error .alert{
    padding:4px;
}


.error-msg {
          color: #880300;
          background-color: #ec8702;
        }

.navbar-brand{
    padding: 10px 10px;
}