<div class="experience-details">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="help-block pro-title">CIGNITI EXPERIENCE</span>
                            <div> </div>
                            <p> {{model.cignitiExperience}}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="help-block pro-title">TOTAL EXPERIENCE
                                <ng-container *ngIf="userData.employeeRoleName === 'Employee'">
                            <span *ngIf="editMode" pTooltip="edit" tooltipPosition="top">
                            <a class="curosr-p" (click)="saveExp('edit')"><i class="fa fa-pencil" style="font-size: 14px;"></i></a></span>
                            <span *ngIf="!editMode" pTooltip="save" tooltipPosition="top"><a class="curosr-p" (click)="saveExp('save')"><i class="fa fa-save" style="font-size: 14px;"></i></a></span>
                            <span *ngIf="model.totalExperience && !editMode" pTooltip="close" tooltipPosition="top"><a class="curosr-p" (click)="editMode = true"><i class="fa fa-window-close-o" style="font-size: 14px;"></i></a></span>
                                </ng-container>
                            </span>
                            <div *ngIf="!editMode && userData.employeeRoleName === 'Employee'">
                                <span>Years</span> <span style="margin-left:30px;">Months</span></div>
                            <div class="total-exp" *ngIf="!editMode && userData.employeeRoleName === 'Employee'">
                                <input type="number" min="0" max="30" class="form-control" [(ngModel)]="exp.years" />
                                <input type="number" min="0" max="12" class="form-control" [(ngModel)]="exp.months" />
                            </div>
                            <p *ngIf="editMode">{{model.totalExperience}}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="help-block pro-title">RESUME LAST UPDATED</span>
                            <div>
                                <span class="label label-success">{{resumeName}}</span>
                                <span (click)="removeResume()" class="removeResume" pTooltip="remove" tooltipPosition="top"
                                *ngIf="resumeName !== 'Not Yet Uploaded' && userData.employeeRoleName === 'Employee'">
									<span class="glyphicon glyphicon-remove"></span>
                                </span>
                                <span *ngIf="resumeName !== 'Not Yet Uploaded' && emptyResume" (click)="downloadResume()" class="downloadResume" pTooltip="download" tooltipPosition="top">
									<span class="glyphicon glyphicon-download"></span>
                                </span>
                                <button *ngIf="emptyResume && userData.employeeRoleName === 'Employee'" (click)="getResumeFile.click()" class="btn btn-primary">Browse</button>
                                <button (click)="uploadFile()" class="theme-btn theme-btn-primary" *ngIf="!emptyResume && !showResumeUploading">Upload</button>
                                <div class="theme-btn theme-btn-primary" *ngIf="showResumeUploading ">Uploading...</div>
                            </div>
                            <div [ngClass]="{'m-t-4':resumeName === 'Not Yet Uploaded'}">
                                <span class="label label-success">Cigniti Format.doc</span>
                                <a target="_self" href="./assets/data/cigniti-template.docx" [download]= personalDetails.employeeName><span class="downloadResume" pTooltip="download" tooltipPosition="top">
									<span class="glyphicon glyphicon-download"></span>
                                </span></a>
                            </div>
                        <input type="file" style="display: none;;" #getResumeFile (change)="readResume($event)" (click)="getResumeFile.value = null"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>