.experience-details {
    .total-exp {
        .form-control {
            width: 22%;
            display: inline;
        }
    }
    .removeResume {
        cursor: pointer;
        width: 12px;
        height: 18px;
        background-color: #5cb85c;
        display: inline-block;
        text-align: center;
        color: #fff;
        .glyphicon {
            font-size: 10px;
        }
    }
    .downloadResume {
        cursor: pointer;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        background-color: #5cb85c;
        display: inline-block;
        text-align: center;
        color: #fff;
        .glyphicon {
            font-size: 14px;
        }
    }
    .cigniti-format{
        a{
            color: #337ab7;
            &:hover{
                color: #005eb1 !important;
            }
        }
    }
}