<div class="dashboardContainer">
  <table class="table table-bordered table-inverse table-time">
    <thead>
      <tr style="color:white; background: #005c97;">
        <th rowspan="2">BU</th>
        <th colspan="4">Billing
        </th>
        <th rowspan="2">Buffer </th>
        <th rowspan="2">Blocked</th>
        <th rowspan="2">Available</th>
        <th rowspan="2">Deployable HC</th>
        <th rowspan="2">Billing Utilization </th>
        <th rowspan="2">Training </th>
        <th rowspan="2">Long Leave</th>
        <th rowspan="2">On Notice</th>
        <th colspan="2">COE & Investment</th>
        <th rowspan="2">LOA</th>
        <th rowspan="2">NBM</th>
        <th rowspan="2" class="totalHC">Total HC</th>
        <th rowspan="2">Utilization</th>
      </tr>
      <tr style="color:white; background: #005c97;">
        <th><p pTooltip="Delivery" tooltipPosition="top">D</p></th>
        <th><p pTooltip="Practice" tooltipPosition="top">P</p></th>
        <th><p pTooltip="ATS" tooltipPosition="top">A</p></th>
        <th><p pTooltip="Total" tooltipPosition="top">T</p></th>
        <th>C</th>
        <th>I</th>
      </tr>
    </thead>
    <tbody class="dashboardBody">
      <tr *ngFor="let dashboardDetail of dashboardData.dashboardDetails; let i = index;"
      [ngClass]="{'rowDataColor': applyRowDataBg(i)}">
        <td>
          <a *ngIf="i === 2 && changeIcon" class="cursor-p" href="javascript:void(0)" (click)="showRowData()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
          <a *ngIf="i === 2 && !changeIcon" class="cursor-p" href="javascript:void(0)" (click)="changeIcon = !changeIcon;splitData()"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
          <a [routerLink]="['Bu_Manager_details']"><span>{{dashboardDetail.region}}</span></a>
        </td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">{{dashboardDetail.billing}}</a></td>
        <td><span><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">{{dashboardDetail.practice}}</a></span></td>
        <td><span><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">{{dashboardDetail.ats}}</a></span></td>
        <td><span><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">{{dashboardDetail.billingSum}}</a></span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']"><span> {{dashboardDetail.buffer}}</span></a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">{{dashboardDetail.blocked}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">{{dashboardDetail.available}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">{{dashboardDetail.deployable}}</a></td>
        <td><span>{{dashboardDetail.billingUtilzation}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">{{dashboardDetail.training}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LongLeave']">{{dashboardDetail.longleave}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">{{dashboardDetail.onNotice}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">{{dashboardDetail.coe}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">{{dashboardDetail.innovation}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">{{dashboardDetail.loa}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">{{dashboardDetail.nbmanager}}</a></td>
        <td class="tableTotalColor"><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">{{dashboardDetail.buInfo}}</a></td>
        <td><span>{{dashboardDetail.totUtilzation}}</span></td>
      </tr>
       <tr>
        <td><span >{{dashboardData.dashboardTotal.regionTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.billingTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.practiceTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.atsTotal}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']">{{dashboardData.dashboardTotal.billingSumTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']"> {{dashboardData.dashboardTotal.bufferTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">{{dashboardData.dashboardTotal.blockedTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">{{dashboardData.dashboardTotal.availableTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">{{dashboardData.dashboardTotal.deployableTotal}}</a></td>
        <td><span>{{dashboardData.dashboardTotal.billingUtilzationTotal}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">{{dashboardData.dashboardTotal.trainingTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LongLeave']">{{dashboardData.dashboardTotal.longleaveTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">{{dashboardData.dashboardTotal.onNoticeTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">{{dashboardData.dashboardTotal.coeTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">{{dashboardData.dashboardTotal.innovationTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">{{dashboardData.dashboardTotal.loaTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">{{dashboardData.dashboardTotal.nbmanagerTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">{{dashboardData.dashboardTotal.buInfoTotal}}</a></td>
        <td><span>{{dashboardData.dashboardTotal.totUtilzationTotal}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<!--<div class="row">
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
</div>-->


