<div class="domain-details">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel-body">
        <p-fieldset legend="Domain Details" [toggleable]="true" collapsed="true">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row" style="margin: 10px;">
                <div class="col-md-4">
                  <p-dropdown [options]="masterDomains" name="domainCategory" [(ngModel)]="domainModel.domain" placeholder="Select a Domain"
                    optionLabel="label" [style]="{'width':'150px'}" (onChange)="onDomainChange('domain')"></p-dropdown>
                </div>
                <div class="col-md-4">
                  <p-dropdown [options]="subDomainDetails" name="subDomain" [(ngModel)]="domainModel.subDomain" placeholder="Select a Sub Domain"
                    optionLabel="label" [style]="{'width':'150px'}" (onChange)="onDomainChange('subDomain')"></p-dropdown>
                </div>
                <div class="col-md-4">
                  <p-dropdown [options]="childDomainDetails" name="childDomain" [(ngModel)]="domainModel.childDomain" placeholder="Select a Child Domain"
                    optionLabel="label" [style]="{'width':'150px'}"></p-dropdown>
                </div>
              </div>
              <div class="row" style="margin: 10px;">
                <div class="col-md-4">
                  <div>
                    <span>Years</span> <span style="margin-left:30px;">Months</span></div>
                  <div class="domain-exp">
                    <input type="number" min="0" max="30" class="form-control" [(ngModel)]="domainModel.years" />
                    <input type="number" min="0" max="12" class="form-control" [(ngModel)]="domainModel.months" />
                  </div>
                  <!--<input class="form-control" type="text" placeholder="Experience"
                name="yearOfExperience" [(ngModel)]="domainModel.yearOfExperience" />-->
                </div>
                <div class="col-md-4" style="margin-top: 18px;">
                  <input class="form-control" type="text" placeholder="Comments" name="comments" [(ngModel)]="domainModel.comments" />
                </div>
                <div class="col-md-4" style="margin-top: 18px;">
                  <button *ngIf="showButton" type="button" class="btn btn-success" [disabled]="!domainModel.domain || !domainModel.subDomain || !domainModel.childDomain"
                    (click)="saveDomain('add')">Add Domain</button>
                  <button *ngIf="!showButton" type="button" class="btn btn-success" (click)="saveDomain('update')">Update Domain</button>
                </div>
              </div>
            </div>
          </div>
          <p-dataTable [value]="domainDetails" scrollable="true" scrollHeight="200px" emptyMessage="No domains found">
            <p-column [sortable]="true" *ngFor="let col of domainHeader" [field]="col.field" [header]="col.header"></p-column>
            <p-column styleClass="col-button">
              <ng-template pTemplate="header">
                Action
              </ng-template>
              <ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
                <a class="curosr-p"><i class="fa ui-icon-edit" (click)="editDomain(car, i)"></i></a>
                <a class="curosr-p"><i class="fa ui-icon-delete" (click)="deleteDomain(i)"></i></a>
              </ng-template>
            </p-column>
          </p-dataTable>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>