<div class="domain-details">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <ng-container *ngIf="userData.employeeRoleName === 'Employee'">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row" style="margin: 10px;">
              <div class="col-md-4">
                <p-dropdown [options]="masterDomainData" name="domainCategory" [(ngModel)]="domainModel.domain" placeholder="Select a Domain"
                  optionLabel="label" [style]="{'width':'250px'}" (onChange)="onDomainChange('domain')"></p-dropdown>
              </div>
              <div class="col-md-4">
                <p-dropdown [options]="subDomainDetails" name="subDomain" [(ngModel)]="domainModel.subDomain" placeholder="Select a Sub Domain"
                  optionLabel="label" [style]="{'width':'250px'}" (onChange)="onDomainChange('subDomain')"></p-dropdown>
              </div>
              <div class="col-md-4">
                <p-multiSelect #childDomainRef [options]="childDomainDetails" [(ngModel)]="domainModel.childDomain" optionLabel="label" [disabled]="childDomainDetails.length === 0"
                  [style]="{'width':'250px'}" (onFocus)="onDomainFocus(childDomainRef)" defaultLabel="Select a Child Domain"></p-multiSelect>
              </div>
            </div>
            <div class="row" style="margin: 10px;">
              <div class="col-md-4">
                <div>
                  <span>Years</span> <span style="margin-left:30px;">Months</span></div>
                <div class="domain-exp">
                  <input type="number" min="0" max="30" class="form-control" [(ngModel)]="domainModel.years" />
                  <input type="number" min="0" max="12" class="form-control" [(ngModel)]="domainModel.months" />
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 18px;">
                <input style="width: 85%;" maxlength="100" class="form-control" type="text" placeholder="Comments" name="comments" [(ngModel)]="domainModel.comments" />
              </div>
              <div class="col-md-4" style="margin-top: 18px;">
                <button *ngIf="showButton" type="button" class="btn btn-success" (click)="saveDomain('add')" [disabled]="disableBtn()">Add Domain</button>
                <button *ngIf="!showButton" type="button" class="btn btn-success" (click)="saveDomain('update')" [disabled]="disableBtn()">Update Domain</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <p-dataTable [value]="domainList" scrollable="true" scrollHeight="200px" emptyMessage="No Domains Found">
        <p-column [sortable]="true" field="domain_name" header="Domain"></p-column>
        <p-column [sortable]="true" field="sub_domain_name" header="Sub Domain"></p-column>
        <p-column [sortable]="true" field="modifiedChildDomain" header="Child Domain">
          <ng-template pTemplate="body" let-col let-row="rowData">
            <span [pTooltip]="row['tooltipContent']" style="position: relative" escape="false">
              {{row[col.field]}}
            </span>
          </ng-template>
        </p-column>
        <p-column [sortable]="true" field="domainExperience" header="Experience"></p-column>
        <p-column [sortable]="true" field="comments" header="Comments"></p-column>
        <ng-container *ngIf="userData.employeeRoleName === 'Employee'">
          <p-column styleClass="col-button" [style]="{'width':'8%'}">
            <ng-template pTemplate="header">
              Action
            </ng-template>
            <ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
              <a pTooltip="edit" tooltipPosition="top" class="curosr-p"><i class="fa fa-edit" (click)="editDomain(car, i)"></i></a>
              <a pTooltip="delete" tooltipPosition="top" class="curosr-p"><i class="fa fa-trash" (click)="deleteConfirm(car, i)"></i></a>
            </ng-template>
          </p-column>
        </ng-container>
      </p-dataTable>
    </div>
  </div>
</div>