<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default" style="margin-top:10px;">
            <!--<div class="panel-heading">
                <div class="row">
                    <div class="col-lg-11">
                        <h3 class="panel-title">Skill Details</h3>
                    </div>
                    <div class="">
                        <button class="btn btn-warning btnpadding" style="margin-right:5px;">Add skills</button>
                    </div>
                </div>
            </div>-->
            <div class="row" style="text-align: right;
    padding: 10px 30px 0px 0px;">
                <button class="btn btn-warning">Add skills</button>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-inverse table-time">
                    <thead>
                        <tr>
                            <th>Skill category</th>
                            <th>Skill</th>
                            <th>Skill rating</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="padding:0px;">
                            <td>Automation Testing</td>
                            <td>Selenium-Java</td>
                            <td>3</td>
                            <td>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>