<div class="row">
		<div class="col-md-8 col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">

     Personal Details

				
			</div>
			<div class="panel-body">
				<div class="col-lg-9 col-md-9">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="col-lg-4 col-md-4 pad-l-0"><div class="">
								 <span class="help-block pro-title">EMPLOYEE ID</span>
								  <p class="form-control-static">E003923</p>
								</div></div>
							<div class="col-lg-4 col-md-4 no-padding">
							<div class="">
							
								 <span class="help-block pro-title">EMPLOYEE NAME</span>
								  <p class="form-control-static">Chippa Vijay Kumar</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 pad-l-0"><div class="">
							 <span class="help-block pro-title">DESIGNATION</span>
							  <p class="form-control-static"> N/A</p>
							</div></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							 <div class="col-lg-4 col-md-4 pad-l-0"><div class="">
							 <span class="help-block pro-title">DATE OF JOINING</span>
								  <p class="form-control-static">16 August, 2017</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 pad-l-0"><div class="">
							 <span class="help-block pro-title">JOINING LOCATION</span>
							  <p class="form-control-static">												HYD</p>
							</div></div>
						<div class="col-lg-4 col-md-4 no-padding">
						<div class="">
							 <span class="help-block pro-title">CURRENT LOCATION</span>
							  <p class="form-control-static">												HYD</p>
							</div>
						</div>
						</div>
				 
					
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 pad-l-0"><div class="" style="margin-left:8px;">
							 <span class="help-block pro-title">EMPLOYEMENT TYPE</span>
							<p class="form-control-static">India Regular</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 pad-l-0"><div class="">
							<span class="help-block pro-title">REPORTING MANAGER</span>
							<p class="form-control-static">N/A</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 no-padding"><div class="">
						 <span class="help-block pro-title">VISA</span>
						  <p class="form-control-static">No Visa</p>
						</div>
						</div>
					</div>
				 			
				</div>
				<div class="col-lg-3 col-md-3">
            <form method="post" id="profile_form_step_1" action="http://172.16.2.47/RMG-Tool/index.php/fileupload/profile_upload" enctype="multipart/form-data">

            <div class="panel-body">
                <div class="" align="center">
                    <div class="profilePic">
                      <img alt="User Pic" src="http://172.16.2.47/RMG-Tool/assets/img/logo/avatar.png" class="img-square img-responsive" id="image_upload_preview" style="width:100%; height:120px;">  

                    </div>
                </div><br>
            </div>										
            </form>
        </div>
			</div>

		</div>
	</div>
		
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading edit-head">
				<h3 class="panel-title">BU Details</h3>
			</div>
			
			<div class="panel-body">
				<div class="row">
					<!--<div class="col-lg-6 col-md-6 no-padding">
						<div class="form-group">
							 <span class="help-block pro-title">PROJECT MANAGER</span>
							  <p class="form-control-static">N/A</p>
						</div>
					</div>-->
					<div class="col-lg-6 col-md-6 no-padding">
						<div class="">
							 <span class="help-block pro-title">ACCOUNT MANAGER</span>
							  <p class="form-control-static">GOUTHAM</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 no-padding">
							<div class="">
								 <span class="help-block pro-title">HR SPOC</span>
								  <p class="form-control-static">N/A</p>
							</div>
						</div>
					
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 pad-l-0"><div class="">
						 <span class="help-block pro-title">BU HEAD</span>
							<p class="form-control-static">N/A</p>
					
					</div></div>
					<div class="col-lg-6 col-md-6 no-padding"><div class="">
						<span class="help-block pro-title">DU HEAD</span>
						<p class="form-control-static">N/A</p>
					</div></div>
					
					<!--<div class="col-lg-6 col-md-6 no-padding">
						<div class="form-group">
							 <span class="help-block pro-title">HR MANAGER</span>
							  <p class="form-control-static">GOUTHAM</p>
						</div>
					</div>-->
				</div>
				<div class="row">
				<div class="col-lg-6 col-md-6 no-padding"><div class="">
						<span class="help-block pro-title">RMG SPOC</span>
						<p class="form-control-static">Praveen Ambati</p>
					</div></div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 no-padding"><div class="">
						<span class="help-block pro-title">BU</span>
				
						<p class="form-control-static">NA-EAST</p>
					</div></div>
					<div class="col-lg-6 col-md-6 pad-l-0"><div class="">
						 <span class="help-block pro-title">DU</span>
							<p class="form-control-static">NA</p>
					
					</div></div>
				</div>
			</div>
		</div>
	</div>
</div>