$padding-5: 5px;
$padding-10: 10px;
$tab-active-border-color: #424242;
$rmg-orange: #FF5722;
body,
html {
    height: 100%;
}

body {
    // font-family: 'Lato', sans-serif;
    font-family: 'robotoregular', sans-serif;
    background: #eeeeee;
    color: #333;
}

hr {
    margin: 5px 0;
}

a {
    color: #565656;
}

table tr th,
strong,
b,
label {
    font-weight: normal;
    font-family: 'robotomedium', sans-serif;
}

// body .ui-tabview .ui-tabview-nav > li.ui-state-active {
//     background-color: $rmg-orange;
//     border-color: $tab-active-border-color;
// 	a{
// 		color: #fff;
// 		.ui-tabview-left-icon{
// 			color: #fff;
// 		}
// 	}
// }
.panel-default>.panel-heading {
    font-weight: bold;
}

.logo-1 {
    padding: 5px 0;
}

.bodyContent {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    background-image: url(/assets/images/rmg_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
    height: auto;
    background-position: center;
}

.cta-btn-login {
    width: 200px;
    font-family: 'Lato', sans-serif;
    background-color: #ff9600;
}

.btn-xl {
    margin-top: 5px;
    width: 200px;
    border: none;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    background-color: #ff9600;
    border: none;
    font-size: 16px;
    padding: 15px 0;
    border-radius: 3px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #ec8702;
    border-color: #ec8702;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl .badge {
    color: #fed136;
    background-color: white;
}

.content-wrapper {
    padding: 90px 0 0 0;
    height: 100%;
    min-height: 100%;
    min-height: auto !important;
    margin-bottom: -40px;
}

.header {
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.footer {
    height: 40px;
    line-height: 40px;
}

.form-bg {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 15px 20px 15px;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid rgba(255, 2555, 2555, .5);
}

.form-bg h2 {
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

.pro-title {
    color: #615555;
    font-size: 12px !important;
    margin-bottom: 1px !important;
    margin-top: 0px;
    font-weight: bold;
}

.customRMGPadding {
    width: 50%;
    padding: 10px 5px;
    float: left;
}

.btnpadding {
    padding: 0px 8px;
}

.form-control-static {
    padding-top: 3px;
}

.curosr-p {
    cursor: pointer;
}

p-rating .ui-rating {
    .fa-star{
        color: $rmg-orange;
    }
    a:hover, a:focus{
        text-decoration: none;
    }
}

p-fieldset {
    .ui-fieldset {
        .ui-fieldset-legend {
            border: none;
            font-size: 17px;
            .ui-fieldset-toggler {
                height: 25px;
                width: 25px;
                padding: 6px;
                font-size: 14px;
            }
        }
    }
}

.skill-details {
    p-fieldset {
        .ui-fieldset {
            .ui-fieldset-legend {
                width: 15%;
            }
        }
    }
    p-rating {
        .ui-rating {
            display: inline;
            margin-left: 28px;
        }
    }
    .btn-skill {
        display: inline;
        margin-left: 45px;
    }
}

.certification-details {
    p-fieldset {
        .ui-fieldset {
            .ui-fieldset-legend {
                width: 21%;
            }
        }
    }
}

.domain-details {
    p-fieldset {
        .ui-fieldset {
            .ui-fieldset-legend {
                width: 18%;
            }
        }
    }
}

.personal-details {
    .pb-low {
        p-progressBar {
            .ui-progressbar {
                .ui-progressbar-value {
                    background-color: red;
                }
            }
        }
    }
    .pb-moderate {
        p-progressBar {
            .ui-progressbar {
                .ui-progressbar-value {
                    background-color: orange;
                }
            }
        }
    }
    .pb-good {
        p-progressBar {
            .ui-progressbar {
                .ui-progressbar-value {
                    background-color: green;
                }
            }
        }
    }
    p-progressBar {
        .ui-progressbar {
            height: 25px;
            .ui-progressbar-value {
                height: 25px;
            }
            .ui-progressbar-label {
                display: block !important;
                margin-top: 3px;
                color: #000;
            }
        }
        .ui-widget-content {
            border: 1px solid #bdbdbd;
        }
    }
    .ui-widget-content{
        .tab-renderer{
            min-height: 100px;
        }
    }
    
}

.domain-details {
    p-rating {
        display: inline-block;
    }
}


.ui-datatable.ui-datatable-scrollable thead tr th {
    font-size: 12px !important;
}

.ui-datatable-scrollable-body {
    .ui-widget-content {
        .ui-datatable-emptymessage-row {
            .ui-datatable-emptymessage {
                text-align: center;
                color: red;
            }
        }
    }
}

.app-error-msg {
    color: red;
}

// body .ui-widget-content{
// 	border:1px solid white;
// }
p-tabview div.ui-widget-content {
    border: 1px solid white;
}

.card.card-w-title {
    padding-bottom: 0px;
}

body .ui-widget-header {
    font-size: 15px !important;
}

.panel {
    margin-bottom: 0px;
}

.theme-panel-body-perosnal {
    padding: 10px;
    width: 100%;
    float: left;
    height: auto;
}

.cardTabs {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 0em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.w-200{
    width: 200px;
}

.m-t-23{
    margin-top: 23px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-13{
    margin-top: 13px;
}

.m-t-18{
    margin-top: 18px;
}

.last-login{
    text-align: right;
    font-size: 11px;
    color: #fff;
}

.fa.fa-pencil:hover{
    font-size: 20px;
    color: #225582;
}

.fa.fa-edit:hover,.fa.fa-trash:hover{
    font-size: 16px;
    color: #225582;
}