
<div class="employee-details">
<p-dataTable [value]="employeeList" scrollable="true" scrollHeight="200px" emptyMessage="No Employees Found">
  <p-header>
        <div class="ui-helper-clearfix">
          <button class="btn export-csv" icon="fa-file" (click)="exportCSV()" [disabled]="disabledBtn"><i class="fa fa-file-excel"></i>Export To CSV
            <span class="search-spinner" *ngIf="disabledBtn"><i class="fa-li fa fa-spinner fa-spin"></i></span>
          </button>
            <!-- <button type="button" pButton icon="fa-file" iconPos="left" label="Export To CSV" (click)="exportCSV()" [disabled]="disabledBtn" class="export-csv">
              <span class="search-spinner" *ngIf="disabledBtn"><i class="fa-li fa fa-spinner fa-spin"></i></span>
            </button> -->
        </div>
    </p-header>
  <p-column [sortable]="true" *ngFor="let col of employeeHeader" [field]="col.field" [header]="col.header">

    <template let-row="rowData" pTemplate>
      <!--<span *ngIf="col.header==='Employee Id'"><a style="color:blue;" [routerLink]="['../personal-details', row.emp_id]">{{row[col.field]}}</a></span>-->
      <span *ngIf="col.header==='Employee Id'"><a style="color:blue;" [routerLink]="['../personal-details']"
      [queryParams]="{ empId: row.emp_id }">{{row[col.field]}}</a></span>
      <span *ngIf="col.header!=='Employee Id'">{{row[col.field]}}</span>
  </template>
  </p-column>

</p-dataTable>
</div>