<p-growl [(value)]="msgs"></p-growl>

<div class="personal-details" style="position:relative">
	<div [ngBusy]="personalBusy"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="theme-panel theme-panel-primary">
				<div class="theme-panel-body-perosnal">
					<div class="col-lg-3 col-md-3">
						<div class="theme-panel-body">
							<div class="" align="center">
								<div class="profilePic">
									<div *ngIf="!url" style="padding:5px;border:1px solid #b5a7a7">
										<span class="glyphicon glyphicon-user profileUserImage"></span>
									</div>
									<img [src]="url" width="100" height="100" *ngIf="url">
									<input type='file' style="visibility:hidden;" #getFile accept="image/*" (click)="getFile.value = null" (change)="readUrl($event)">
									<div (click)="removeImg()" class="removeImg" *ngIf="!emptyImage">
										<span class="glyphicon glyphicon-remove"></span>
									</div>
								</div>
								<div class="profileBtns">
									<button (click)="uploadFile()" class="theme-btn theme-btn-primary" *ngIf="!emptyImage && !showUploading">Upload</button>
									<div class="theme-btn theme-btn-primary" *ngIf="showUploading">Uploading...</div>
									<button (click)="getFile.click()" class="theme-btn theme-btn-primary" *ngIf="emptyImage && !showUploading && userData.employeeRoleName === 'Employee'">Browse</button>
								</div>
							</div><br>
							<div [ngClass]="pbarColor">
								<p-progressBar [value]="profileProgress" [showValue]="true"></p-progressBar>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 pd-info">
						<div class="row">
							<div class="">
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>EMPLOYEE ID</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.emp_id}}</p>
										<input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="pdModel.empId" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 no-padding">
									<div class="form-group">
										<label>EMPLOYEE NAME</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.employeeName}}</p>
										<input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="pdModel.employeeName" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>DESIGNATION</label>
										<span *ngIf="!editMode && userData.employeeRoleName === 'RMG'" pTooltip="edit" tooltipPosition="top" class="pd-edit" (click)="onPdEdit()">
											<i class="fa fa-pencil"></i>
										</span>
										<p *ngIf="!editMode" class="form-control-static"> {{personalDetails?.designation}}</p>
										<p-dropdown #designationRef filter="true" *ngIf="editMode" [options]="designationMasterData" name="designation" [(ngModel)]="pdModel.designation"
										 placeholder="Select Designation" optionLabel="label" [style]="{'width':'200px'}" (onFocus)="onDesignationFocus(designationRef)"></p-dropdown>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="">
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>DATE OF JOINING</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.doj}}</p>
										<ng-container *ngIf="editMode">
											<p-calendar dateFormat="dd-mm-yy" [(ngModel)]="pdModel.doj" [showIcon]="true"></p-calendar>
										</ng-container>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>JOINING LOCATION</label>
										<p *ngIf="!editMode" class="form-control-static"> {{personalDetails?.joinginLocation}}</p>
										<p-dropdown *ngIf="editMode" [options]="locationMasterData" name="joiningLocation" [(ngModel)]="pdModel.joiningLocation"
										 placeholder="Select Location" optionLabel="label" [style]="{'width':'200px'}"></p-dropdown>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 no-padding">
									<div class="form-group">
										<label>CURRENT LOCATION</label>
										<p *ngIf="!editMode" class="form-control-static"> {{personalDetails?.currentLocation}}</p>
										<p-dropdown *ngIf="editMode" [options]="locationMasterData" name="currentLocation" [(ngModel)]="pdModel.currentLocation"
										 placeholder="Select Location" optionLabel="label" [style]="{'width':'200px'}"></p-dropdown>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="">
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>EMPLOYEMENT TYPE</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.employeementType}}</p>
										<input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="pdModel.emplType" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 pad-l-0">
									<div class="form-group">
										<label>REPORTING MANAGER</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.reportingManager}}</p>
										<input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="pdModel.reportingManager" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 no-padding">
									<div class="form-group">
										<label>RMG SPOC</label>
										<p *ngIf="!editMode" class="form-control-static">{{personalDetails?.rmg_spoc}}</p>
										<input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="pdModel.rmgSpoc" />
									</div>
								</div>
							</div>
						</div>
						<div class="row text-right" *ngIf="editMode">
							<div class="form-group">
								<button class="btn btn-success" (click)="onPDSave()">Save</button>
								<button class="btn btn-default" (click)="editMode = false">Cancel</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p-confirmDialog header="Confirmation" icon="fa fa-warning" width="425"></p-confirmDialog>
	<div class="row">
		<div class="col-md-12">
			<div class="cardTabs card-w-title">
				<p-tabView (onChange)="tabIndex=index;onTabChange($event);" [activeIndex]="tabIndex">
					<p-tabPanel *ngFor="let empTab of employeeInfoTabs;" header="{{empTab.name}}" leftIcon="{{empTab.icon}}">
						<div [ngSwitch]="empTab.field" style="position: relative">
							<ng-template [ngSwitchCase]="'experience-details'">
								<app-experience-details *ngIf="personalDetails" [personalDetails]="personalDetails" (callBackContactDetails)="callBackContactDetails()"></app-experience-details>
							</ng-template>
							<ng-template [ngSwitchCase]="'contact-details'">
								<app-contact-details *ngIf="personalDetails" [personalDetails]="personalDetails" (callBackContactDetails)="callBackContactDetails()"></app-contact-details>
							</ng-template>
							<div [ngBusy]="professionalBusy">
								<ng-template [ngSwitchCase]="'skill-details'">
									<p-accordion (onOpen)="onAccOpen($event)">
										<div class="tab-renderer">
											<div [ngBusy]="skillBusy">
												<p-accordionTab header="Skill Details">
													<app-skill-details *ngIf="professionalMasterData" [skillDetails]="professionalMasterData.details.skill_List" [skillMasterData]="masterSkillsData"
													 (callBackProfessionalDetails)="callBackProfessionalDetails()" (callBackContactDetails)="callBackContactDetails()"></app-skill-details>
												</p-accordionTab>
											</div>
											<div [ngBusy]="domainBusy">
												<p-accordionTab header="Domain Details">
													<app-domain-details *ngIf="domainData" [domainDetails]="domainData" [masterDomains]="masterDomainData"
													 (callBackDomainDetails)="callBackDomainDetails()" (callBackContactDetails)="callBackContactDetails()"></app-domain-details>
												</p-accordionTab>
											</div>
											<div [ngBusy]="certificationBusy">
												<p-accordionTab header="Certification Details">
													<app-certification-details *ngIf="professionalMasterData" [certificationDetails]="professionalMasterData.details.certification_List"
													 [certificationTechnologies]="masterCertificationData" (callBackProfessionalDetails)="callBackProfessionalDetails()"></app-certification-details>
												</p-accordionTab>
											</div>
										</div>
									</p-accordion>
								</ng-template>
							</div>
							<div [ngBusy]="projectBusy">
								<ng-template [ngSwitchCase]="'project-details'">
									<div class="tab-renderer">
										<app-project-details *ngIf="projectDetails" [projectDetails]="projectDetails" (callBackProjectDetails)="callBackProjectDetails()"
										 [employeeId]="personalDetails.emp_id"></app-project-details>
									</div>
								</ng-template>
							</div>
							<ng-template [ngSwitchCase]="'bu-details'">
								<app-bu-details *ngIf="personalDetails" [personalDetails]="personalDetails" [buMasterData]="buMasterData" [duMasterData]="duMasterData"
								 (callBackContactDetails)="callBackContactDetails()"></app-bu-details>
							</ng-template>
							<div [ngBusy]="visaBusy">
								<ng-template [ngSwitchCase]="'immigration-details'">
									<p-accordion expandIcon="fa ui-icon-local-phone">
										<div class="tab-renderer">
											<p-accordionTab header="Passport Details" >
												<app-passport-details *ngIf="personalDetails" [personalDetails]="personalDetails" (callBackContactDetails)="callBackContactDetails()"></app-passport-details>
											</p-accordionTab>
											<p-accordionTab header="Visa Details">
												<app-visa-details *ngIf="visaDetails" [visaDetails]="visaDetails" [employeeId]="personalDetails.emp_id" (callbackVisaDetails)="callbackVisaDetails()"></app-visa-details>
											</p-accordionTab>
										</div>
									</p-accordion>
								</ng-template>
							</div>
						</div>
					</p-tabPanel>
				</p-tabView>
			</div>
		</div>
	</div>
</div>