body .ui-fileupload .ui-fileupload-content .ui-messages-error .fa {
    color: #ffffff;
}

.personal-details {
    padding: 5px 15px;
    .pd-info {
        .form-group {
            label {
                font-size: 12px;
                font-family: 'robotomedium';
                margin-bottom: 0px;
            }
        }
    }
    .pd-edit {
        position: absolute;
        right: 20px;
        cursor: pointer;
        color: #337ab7;
    }
    .form-control-static {
        font-family: "robotoregular";
        color: #666;
    }
    .profileUserImage {
        font-size: 80px;
        color: #ccc1c1;
    }
    .profileBtns {
        margin-top: 5px;
    }
    .removeImg {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        cursor: pointer;
        width: 16px;
        height: 16px;
        background-color: gray;
    }
    .profilePic {
        position: relative;
        width: 100px;
        height: 100px;
    }
}