<p-growl [(value)]="msgs"></p-growl>

<div class="personal-details" style="position:relative">
	<div [ngBusy]="personalBusy"></div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Personal Details
			</div>
			<div class="panel-body">
				<div class="col-lg-3 col-md-3">
					<!--<form method="post" id="profile_form_step_1" action="http://172.16.2.47/RMG-Tool/index.php/fileupload/profile_upload" enctype="multipart/form-data">-->
					<div class="panel-body">
						<div class="" align="center">
							<div class="profilePic">
								<div *ngIf="emptyImage">
									<span class="glyphicon glyphicon-user profileUserImage"></span>
								</div>
								<img [src]="url" width="100" height="100" *ngIf="!emptyImage">
								<input type='file' style="visibility:hidden;" #getFile accept="image/*" (change)="readUrl($event)">
								<div (click)="removeImg()" class="removeImg" *ngIf="!emptyImage">
									<span class="glyphicon glyphicon-remove"></span>
								</div>
							</div>
							<div class="profileBtns">
								<button (click)="uploadFile()" class="btn btn-primary" *ngIf="!emptyImage">Upload</button>
								<button (click)="getFile.click()" class="btn btn-primary" *ngIf="emptyImage">Browse</button>
							</div>
						</div><br>
						<p-progressBar [value]="profileProgress" [showValue]="true"></p-progressBar>
					</div>
					<!--</form>-->

				</div>
				<div class="col-lg-9 col-md-9">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="col-lg-4 col-md-4 pad-l-0">
								<div class="">
									<span class="help-block pro-title">EMPLOYEE ID</span>
									<p class="form-control-static">{{personalDetails?.emp_id}}</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 no-padding">
								<div class="">

									<span class="help-block pro-title">EMPLOYEE NAME</span>
									<p class="form-control-static">{{personalDetails?.employeeName}}</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 pad-l-0">
								<div class="">
									<span class="help-block pro-title">DESIGNATION</span>
									<p class="form-control-static"> {{personalDetails?.designation}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="col-lg-4 col-md-4 pad-l-0">
								<div class="">
									<span class="help-block pro-title">DATE OF JOINING</span>
									<p class="form-control-static">{{personalDetails?.doj}}</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 pad-l-0">
								<div class="">
									<span class="help-block pro-title">JOINING LOCATION</span>
									<p class="form-control-static"> {{personalDetails?.joinginLocation}}</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 no-padding">
								<div class="">
									<span class="help-block pro-title">CURRENT LOCATION</span>
									<p class="form-control-static"> {{personalDetails?.currentLocation}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 pad-l-0">
							<div class="" style="margin-left:8px;">
								<span class="help-block pro-title">EMPLOYEMENT TYPE</span>
								<p class="form-control-static">{{personalDetails?.employeementType}}</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 pad-l-0">
							<div class="">
								<span class="help-block pro-title">REPORTING MANAGER</span>
								<p class="form-control-static">{{personalDetails?.reportingManager}}</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 no-padding">
							<div class="">
								<span class="help-block pro-title">RMG Spoc</span>
								<p class="form-control-static">Spoc</p>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>

<div class="row">
	<div class="card card-w-title">
		<p-tabView (onChange)="onTabChange($event)">
			<p-tabPanel *ngFor="let empTab of employeeInfoTabs;" 
			header="{{empTab.name}}" leftIcon="{{empTab.icon}}" >
				<div [ngSwitch]="empTab.field" style="position: relative">
					<ng-template [ngSwitchCase]="'experience-details'">
						<val-experience-details *ngIf="personalDetails" [personalDetails]="personalDetails"></val-experience-details>
					</ng-template>
					<ng-template [ngSwitchCase]="'contact-details'">
						<val-contact-details *ngIf="personalDetails" [personalDetails]="personalDetails"></val-contact-details>
					</ng-template>
					<div [ngBusy]="skillBusy">
					<ng-template [ngSwitchCase]="'skill-details'">
						<val-skill-details *ngIf="skillsMasterData" 
						[skillDetails]="skillsMasterData[0].details.skill_List"
						[skillMasterData]="skillsMasterData[1]"></val-skill-details>
						<val-domain-details *ngIf="skillsMasterData" [domainDetails]="skillsMasterData[0].details.domain_List"></val-domain-details>
						<val-certification-details *ngIf="skillsMasterData" [certificationDetails]="skillsMasterData[0].details.certification_List"></val-certification-details>
					</ng-template></div>
					<div [ngBusy]="projectBusy">
					<ng-template [ngSwitchCase]="'project-details'">
						<val-project-details *ngIf="projectDetails" [projectDetails]="projectDetails"></val-project-details>
					</ng-template></div>
					<ng-template [ngSwitchCase]="'bu-details'">
						<val-bu-details *ngIf="personalDetails" [personalDetails]="personalDetails"></val-bu-details>
					</ng-template>
					<ng-template [ngSwitchCase]="'visa-details'">
						<val-visa-details></val-visa-details>
					</ng-template>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>
</div>