
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a [routerLink]="['personal-du']" aria-controls="personal-du" role="tab" data-toggle="tab">Personal & DU Details</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['contact-experience']" aria-controls="contact-experience" role="tab" data-toggle="tab">Contact & Experience</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['project-details']" aria-controls="contact-experience" role="tab" data-toggle="tab">Project Details</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['skill-details']" aria-controls="contact-experience" role="tab" data-toggle="tab">Skill Details</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['certificate-details']" aria-controls="contact-experience" role="tab" data-toggle="tab">Certification Details</a></li>
  </ul>
<router-outlet></router-outlet>