.dashboardContainer th{
    text-align: center;
}
.dashboardContainer tr>td a{
    color:#3571e2;
}
.dashboardContainer tr:last-child{
background: rgba(0, 92, 151, 0.19);
}
.tableTotalColor{
    background: rgba(0, 92, 151, 0.19);
}
