<div class="dashboardContainer">
  <table class="table table-bordered table-inverse table-time">
    <thead>
      <tr style="color:white; background: #005c97;">
        <th rowspan="2">BU</th>
        <th colspan="4">Billing
        </th>
        <th rowspan="2">Buffer </th>
        <th rowspan="2">Blocked</th>
        <th rowspan="2">Available</th>
        <th rowspan="2">Deployable HC</th>
        <th rowspan="2">Billing Utilization </th>
        <th rowspan="2">Training </th>
        <th rowspan="2">Long Leave</th>
        <th rowspan="2">On Notice</th>
        <th colspan="2">COE & Investment</th>
        <th rowspan="2">LOA</th>
        <th rowspan="2">NBM</th>
        <th rowspan="2">Total HC</th>
        <th rowspan="2">Utilization</th>
      </tr>
      <tr style="color:white; background: #005c97;">
        <th>D</th>
        <th>P</th>
        <th>A</th>
        <th>T</th>
        <th>C</th>
        <th>I</th>
      </tr>
    </thead>
    <tbody>
      <!--
			<tr style="padding:0px;" *ngFor="let resourseDetail of userData.resourseDetails">

				<td colspan="4">
				</td>

			</tr>-->
      <tr *ngFor="let dashboardDetail of dashboardData.dashboardDetails">
        <td><a [routerLink]="['Bu_Manager_details']"><span>{{dashboardDetail.region}}</span></a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">{{dashboardDetail.billing}}</a></td>
        <td><span>{{dashboardDetail.practice}}</span></td>
        <td><span>{{dashboardDetail.ats}}</span></td>
        <td><span>{{dashboardDetail.billingSum}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']"><span> {{dashboardDetail.buffer}}</span></a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">{{dashboardDetail.blocked}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">{{dashboardDetail.available}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">{{dashboardDetail.deployable}}</a></td>
        <td><span>{{dashboardDetail.billingUtilzation}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">{{dashboardDetail.training}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LongLeave']">{{dashboardDetail.longleave}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">{{dashboardDetail.onNotice}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">{{dashboardDetail.coe}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">{{dashboardDetail.innovation}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">{{dashboardDetail.loa}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">{{dashboardDetail.nbmanager}}</a></td>
        <td class="tableTotalColor"><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">{{dashboardDetail.buInfo}}</a></td>
        <td><span>{{dashboardDetail.totUtilzation}}</span></td>
      </tr>
      <!--<tr *ngFor="let dashboardDetail of dashboardDetails">
        <td><a [routerLink]="['Bu_Manager_details']">NA-WEST</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">636</a></td>
        <td><span>34</span></td>
        <td><span>9</span></td>
        <td><span>388</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']">30</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">27</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">2</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">404</a></td>
        <td><span>84.5%</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">9</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">2</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">0</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">0</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">3</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">3</a></td>
        <td><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">3</a></td>
        <td><span>80.0%</span></td>
      </tr>-->
      <!--<tr *ngFor="let dashboardDetail of dashboardDetails">
        <td><a [routerLink]="['Bu_Manager_details']">NA-EAST</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Billing']">345</a></td>
        <td><span>34</span></td>
        <td><span>9</span></td>
        <td><span>388</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']">30</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">27</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">2</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">404</a></td>
        <td><span>84.5%</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">9</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">2</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">0</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">0</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">3</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">3</a></td>
        <td><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">3</a></td>
        <td><span>80.0%</span></td>
      </tr>-->
       <tr>
        <td><span >{{dashboardData.dashboardTotal.regionTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.billingTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.practiceTotal}}</span></td>
        <td><span>{{dashboardData.dashboardTotal.atsTotal}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']">{{dashboardData.dashboardTotal.billingSumTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Buffer']"> {{dashboardData.dashboardTotal.bufferTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Blocked']">{{dashboardData.dashboardTotal.blockedTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Available']">{{dashboardData.dashboardTotal.availableTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/deployableHC_info/NA-EAST']">{{dashboardData.dashboardTotal.deployableTotal}}</a></td>
        <td><span>{{dashboardData.dashboardTotal.billingUtilzationTotal}}</span></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Training']">{{dashboardData.dashboardTotal.trainingTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LongLeave']">{{dashboardData.dashboardTotal.longleaveTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/OnNotice']">{{dashboardData.dashboardTotal.onNoticeTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/COE']">{{dashboardData.dashboardTotal.coeTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/Innovation']">{{dashboardData.dashboardTotal.innovationTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/LOA']">{{dashboardData.dashboardTotal.loaTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/Billing_info/NA-EAST/NonBillableManager']">{{dashboardData.dashboardTotal.nbmanagerTotal}}</a></td>
        <td><a [routerLink]="['EmployeeUpdated/BU_info/NA-EAST']">{{dashboardData.dashboardTotal.buInfoTotal}}</a></td>
        <td><span>{{dashboardData.dashboardTotal.totUtilzationTotal}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<!--<div class="row">
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
<div class="col-md-3">
  <p-chart type="pie" [data]="data"></p-chart>
</div>
</div>-->
