<div class="certification-details">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ng-container *ngIf="userData.employeeRoleName === 'Employee'">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row m-t-10">
                            <div class="col-md-3">
                                <p-dropdown [options]="certificationTechList" name="certificationTechnologies" [(ngModel)]="certificationModel.certTech"
                                    placeholder="Certification Technologies" optionLabel="label" [style]="{'width':'185px'}"
                                    (onChange)="onCertificationTechChange()" [autoWidth]="false"></p-dropdown>
                            </div>
                            <div class="col-md-4">
                                <p-dropdown [options]="certificationNames" name="certificationName" [(ngModel)]="certificationModel.certName" placeholder="Certification Name"
                                    optionLabel="label" [style]="{'width':'250px'}" [autoWidth]="false"></p-dropdown>
                            </div>
                            <div class="col-md-5">
                                <p-dropdown [options]="certificationInstitutes" name="certificationFrom" [(ngModel)]="certificationModel.certFrom" placeholder="Certification From"
                                    optionLabel="label" [style]="{'width':'280px'}" [autoWidth]="false"></p-dropdown>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-md-3 m-t-23">
                                <p-dropdown [options]="levelDetails" name="certificationLevel" [(ngModel)]="certificationModel.certLevel" placeholder="Certification Level"
                                    optionLabel="label" [style]="{'width':'150px'}" [autoWidth]="false"></p-dropdown>
                            </div>
                            <div class="col-md-3 m-t-23">
                                <p-calendar dateFormat="dd-mm-yy" name="validFrom" [(ngModel)]="certificationModel.validFrom" 
                                [showIcon]="true" placeholder="Valid From" (onSelect)="certificationModel.validTo = null;minCertificationDate = certificationModel.validFrom"></p-calendar>
                            </div>
                            <div class="col-md-3 m-t-23">
                                <p-calendar dateFormat="dd-mm-yy" [disabled]="!certificationModel.validFrom" name="validTo" 
                                [(ngModel)]="certificationModel.validTo" [showIcon]="true" placeholder="Valid To"
                                [minDate]="minCertificationDate"></p-calendar>
                            </div>
                            <div class="col-md-3 m-t-18">
                                <input class="form-control" type="text" [(ngModel)]="certificationModel.comments" placeholder="description" name="description"
                                    style="width:90%;" />
                            </div>
                        </div>
                        <div class="row text-center m-t-10">
                            <button *ngIf="showButton" type="button" (click)="onCertificationAdd('add')" 
                            class="btn btn-success" [disabled]="disableBtn() || !certificationModel.validFrom || !certificationModel.validTo">Add Certification</button>
                            <button *ngIf="!showButton" type="button" (click)="onCertificationAdd('update')" 
                            class="btn btn-success" [disabled]="disableBtn() || !certificationModel.validFrom || !certificationModel.validTo">Update Certification</button>
                        </div>
                    </div>
                </div>
            </ng-container>
                <p-dataTable [value]="certificationList" scrollable="true" scrollHeight="200px" emptyMessage="No certifications found">
                    <p-column [sortable]="true" *ngFor="let col of certificationHeader" [field]="col.field" [header]="col.header"></p-column>
                    <ng-container *ngIf="userData.employeeRoleName === 'Employee'">
                    <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                            Action
                        </ng-template>
                        <ng-template let-certification="rowData" let-i="rowIndex" pTemplate="body">
                            <a class="curosr-p"><i class="fa fa-edit" (click)="onEdit(certification, i)"></i></a>
                            <a class="curosr-p"><i class="fa fa-trash" (click)="deleteConfirm(certification, i)"></i></a>
                        </ng-template>
                    </p-column>
                    </ng-container>
                </p-dataTable>

        </div>
    </div>
</div>